/*
== Color palette ==

0. Levels

- Level 0       #0A0A0A
- Level 1       #0E0E0E
- Level 2       #1E1E1E
- Level 3       #2C2C2C
- Level 4       #3D3D3D
- Level 5       #525252
- Level 6       #7D7D7D

1. Grayscale:

- Dark1:        #141112
- Dark2:        #211C1E
- Dark3:        #383133
- Mid1:         #453D3E
- Mid2:         #767475
- Light1:       #C0C0C0
- Light2:       #FFFFFF

2. Accents with shades:

- Yellow:       #F5F940 - #BDBF3A
- Orange:       #F6A22F - #BE7D24
- Red           #F94840 - #AA2D27
- Purple:       #A144FF - #7130B3
- Blue:         #3E69FF - #2A47AB
- LightBlue:    #49A6FD - #2B6CA8
- Cyan:         #3AF4B1 - #1FB47E
- Green:        #4CFF3C - #37AD2D
*/

/* Useful for debugging */
* {
  /* border-width: 1px;
    border-color: #C0C0C0; */
  color: #c0c0c0;
}

/* Background Color Classes */

.level0 {
  background-color: #0a0a0a;
}

.level1 {
  background-color: #0e0e0e;
}

.level2 {
  background-color: #1e1e1e;
}

.level3 {
  background-color: #2c2c2c;
}
.level4 {
  background-color: #3d3d3d;
}

.level5 {
  background-color: #525252;
}

.level6 {
  background-color: #7d7d7d;
}

/* Font Classes */

.code {
  font: "fira-code";
  font-size: 14;
}

.small {
  font: "min-sans-medium";
  font-size: 14;
  color: #a3a5a5;
}

.body {
  font: "min-sans-regular";
  font-size: 18;
}

.subheading {
  font: "suit-medium";
  font-size: 24;
}

.heading {
  font: "suit-semibold";
  font-size: 30;
}

.subtitle {
  font: "suit-bold";
  font-size: 36;
}

.title {
  font: "suit-bold";
  font-size: 54;
}

.title_light {
  font: "suit-light";
  font-size: 54;
}

/* Everything Else */

panel {
  row-between: 1px;
}

.menu_bar {
  background-color: #1e1e1e;
  height: 18px;
}

.left_bar {
  background-color: #2c2c2c;
  width: 32px;
}

.browser {
  min-width: 100px;
  max-width: 400px;
  overflow: visible;
}

.header {
  height: 32px;
  background-color: #3d3d3d;
  child-space: 1s;
  child-left: 10px;
  child-right: 1s;
  col-between: 10px;
  min-width: 0px;
  min-height: 0px;
}

.instruments {
  width: 225px;
  overflow: visible;
}

.patterns {
  width: 225px;
  overflow: visible;
}

.toolbar {
  background-color: #393738;
  height: 32px;
  space: 0px;
}

.main {
  row-between: 1px;
}

.main.hidden {
  row-between: 0px;
}

.piano_roll {
  height: 1s;
  transition: height 0.08 0;
}

.black_piano_key_wrapper {
}

.white_piano_key {
  background-color: #ffffff;
  border-width: 0.5;
  border-color: #141112;
  width: 100;
  border-top-right-radius: 2;
  border-bottom-right-radius: 2;
}

.black_piano_key {
  background-color: #141112;
  border-width: 0.5;
  border-color: #141112;
  width: 50;
  border-top-right-radius: 2;
  border-bottom-right-radius: 2;
  z-index: 2;
}

.lane {
  border-width: 0.5;
  border-color: #141112;
  width: 1000;
}

.white_lane {
  background-color: #2c2c2c;
}

.black_lane {
  background-color: #272525;
}

.piano_row {
  border-width: 0.5;
  border-color: #141112;
}

.black_piano_row {
  background-color: #211c1e;
}

.piano_roll_bottom_padding {
  height: 17;
}

.main.hidden > .piano_roll {
  height: 0s;
  transition: height 0.08 0;
}

.resize_handle {
  background-color: transparent;
  transition: background-color 0.1 0;
}

.resize_handle.drag_handle {
  background-color: #c0c0c0;
  transition: background-color 0.1 0;
}

.icon {
  child-space: 1s;
  color: #c0c0c0;
}

button {
  border-radius: 3px;
  width: auto;
  height: auto;
}
